body{

font-family:Arial;

background:#eaf2ff;

text-align:center;

padding-top:80px;

}

.box{

display:inline-block;

background:white;

padding:30px;

border-radius:10px;

box-shadow:0 0 10px gray;

}

input{

padding:10px;

width:200px;

}

button{

padding:10px 20px;

margin-top:15px;

cursor:pointer;

}